{% extends 'main.html' %}

{% block content %}
<div class="col-10 m-auto pb-3 text-center">
    <h1>CADASTRO DE GERADORES E RECICLADORES DE ÓLEO COMESTÍVEL USADO
    </h1>
</div>
<td>
    <th>
    <div class="col-10 m-auto pb-3 text-center">
        <h4>Tenho cadastro</h4>
        <a href="/painel" class= "btn btn-success">Entrar no Sistema</a><br>



        <h4>Não tenho cadastro</h4>
        <a href="/create_user/" class="btn btn-danger">Cadastre-se Aqui</a>
    </div>
    </th>
</td>

{% endblock %}