{% extends 'main.html' %}

{% block content %}

    <form name="formPainel" id="formPainel" method="post" action="/dologin/">
        <div class="col-6 mt-4 m-auto">
            <h2>CADASTRO DE GERADORES E RECICLADORES DE ÓLEO USADO</h2>
            {% if msg %}
                <div class="alert {{class}}">
                    {{msg}}
                </div>
            {% endif %}

            {% csrf_token %}

            <input class="form-control mt-4" type="text" name="user" id="user" placeholder="Nome do Usuário:">
            <input class="form-control mt-4" type="password" name="password" id="password" placeholder="Senha:">

            <input class="btn btn-primary mt-4" type="submit" value="Entrar">
        </div>
    </form>
{% endblock %}