<!DOCTYPE html>
<html lang="pt-br" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Localização Detalhada</title>
</head>
<body>
<td>
    <h2><strong>PJI3G54-API - Valor médio: </strong>R${{vmoleo}}<br></h2></td>
    <h2><strong>API PYCEP-Correios - Endereco: </strong>{{endereco}}<br></h2></td>
    <h2><strong>LAT/LONG: </strong>{{pontos}}<br></h2></td>
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3672.097498935107!2d-45.53484798468703!3d-23.020192084954257!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94ccf97ada4898e3%3A0x91b653aa7b95e2fc!2sAv.%20Dom%20Pedro%20I%2C%201723%20-%20Terra%20Nova%2C%20Taubat%C3%A9%20-%20SP%2C%2012082-000!5e0!3m2!1spt-BR!2sbr!4v1668307815104!5m2!1spt-BR!2sbr" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
<br>
<tr>
              <td>
                  <strong>Endereço: </strong>{{db.inputAddress}}</td>
              <td>
                  <strong>Número: </strong>{{db.inputNumber}}</td>
              <td>
                  <strong>Complemento: </strong>{{db.inputAddress2}}</td>
          </tr>
          <tr>
              <td>
                  <strong>CEP: </strong>{{db.inputCEP}}</td>
              <td>
                  <strong>Cidade: </strong>{{db.inputCity}}</td>
              <td>
                  <strong>Estado: </strong>{{db.inputEstado}}<br></td>
</body>
</html>