<!DOCTYPE html>
<html lang="pt-br" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<td>
    <h2><strong>Valor médio: </strong>R${{vmoleo}}<br></h2></td>
    <h2><strong>endereco: </strong>{{endereco}}<br></h2></td>
    <h2><strong>LAT/LONG: </strong>{{pontos}}<br></h2></td>
<tr>
              <td>
                  <strong>Endereço: </strong>{{db.inputAddress}}</td>
              <td>
                  <strong>Número: </strong>{{db.inputNumber}}</td>
              <td>
                  <strong>Complemento: </strong>{{db.inputAddress2}}</td>
          </tr>
          <tr>
              <td>
                  <strong>CEP: </strong>{{db.inputCEP}}</td>
              <td>
                  <strong>Cidade: </strong>{{db.inputCity}}</td>
              <td>
                  <strong>Estado: </strong>{{db.inputEstado}}<br></td>
</body>
</html>